<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table data-th-object="${comment}">
        <tr>
            <td>Username</td>
            <td data-th-text="*{user}"></td>
        </tr>
        <tr>
            <td>Rating</td>
            <td data-th-text="*{rating}"></td>
        </tr>
        <tr>
            <td>Comment</td>
            <td data-th-text="*{c_text}"></td>
        </tr>
        <tr>
            <td>Game ID</td>
            <td data-th-text="*{gid}"></td>
        </tr>
        <tr>
            <td>Date</td>
            <td data-th-text="*{posted}"></td>
        </tr>
        <tr>
            <td>Name of game</td>
            <td data-th-text="*{gameName}"></td>
        </tr>

    </table>
</body>
</html>